[Desktop Entry]
Type=Application
Name=GravaBin
GenericName=ESP Flash Tool
Comment=Gravador de binários ESP8266/ESP32
Exec=gravabin
Icon=gravabin
Terminal=false
StartupNotify=true
StartupWMClass=Gravabin
Categories=Development;Electronics;
Keywords=ESP32;ESP8266;flash;firmware;esptool;
